This is where I will put the board.
<table>
<tr> 
 <td><input class="square_size" type="submit" value="<%board.ttt_board[0]%>" name="spot"> </td>
 <td class="middle"><input class="square_size" type='submit' value='<%=board.ttt_board[1]%>' name='spot'></td>
 <td><input class="square_size" type="submit" value="<%board.ttt_board[2]%>" name="spot"> </td>
 <td><input >
 </tr>