<link rel="stylesheet" href="css/style.css">


<center><div id='welcome'>Welcome to tic-tac-toe! Please select players</div> </center>
<form action = "select"  method = "post">
<center>
<table>

<tr id='players'>
    <td>Player 1</td>
    <td>Player 2</td>
</tr>
    <tr>
        <td>
            <select required name='player1' onchange='generate(this.options[selectedIndex].value)' >

                    <option value="" >Select your option</option>
				    <option value='Human' >Human - X</option>
				    <option value='Easy'>Easy - X</option>
				    <option value='Medium'>Medium - X</option>
				    <option value='Unbeatable'>Unbeatable - X</option>
            </select>
            
        </td>
        <div id="enterName"></div>
        <td>
            <select required name='player2' onchange='generate2(this.options[selectedIndex].value)'>
                    <option value="" >Select your option</option>
				    <option value='Human'>Human - O</option>
				    <option value='Easy'>Easy - O</option>
				    <option value='Medium'>Medium - O</option>
				    <option value='Unbeatable'>Unbeatable - O</option>
            </select>
            
            </td>
            <div id="enterName2">
        </tr>
    </table>
    <input type = "submit">
    <center>
<form>
<script>
    function generate(player_type_choice) {
        if (player_type_choice == 'Human')document.getElementById('enterName').innerHTML = 'Enter Player One Name: <input type = "text" name = "human_name" />';
            
        else document.getElementById('enterName').innerHTML = '';
        }
    function generate2(player_type_choice) {
        if (player_type_choice == 'Human')document.getElementById('enterName2').innerHTML = 'Enter Player Two Name: <input type = "text" name = "human_name_2" />';
            
        else document.getElementById('enterName2').innerHTML = '';
        }
    </script>
