Welcome to tic-tac-toe!
<form action = "select"  method = "post">
<table>
    <td>Player 1</td>
    <td>Player 2</td>
    <tr>
        <td>
            <select name='player1'>
				    <option value='Human'>Human - X</option>
				    <option value='Easy'>Easy - X</option>
				    <option value='Medium'>Medium - X</option>
				    <option value='Unbeatable'>Unbeatable - X</option>
            </select>
        </td>
        <td>
            <select name='player2'>
				    <option value='Human'>Human - O</option>
				    <option value='Easy'>Easy - O</option>
				    <option value='Medium'>Medium - O</option>
				    <option value='Unbeatable'>Unbeatable - O</option>
            </select>
            <input type = "submit">
            </td>
        </tr>
    </table>
<form>
