@font-face {
    font-family: 'chawpregular';
    src: url('./fonts/chawp.woff2') format('woff2'), url('./fonts/chawp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'travellingregular';
    src: url('./fonts/travelling-webfont.woff2') format('woff2'), url('./fonts/travelling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: darkolivegreen;
}

#welcome {
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'chawp', 'chawpregular';
    font-weight: bold;
    color: whitesmoke;
    background-color: darkolivegreen;
    border-top: dashed white;
    border-bottom: dashed white;
}

.all_squares {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: white;
    background-color: darkolivegreen;
}

#board_table {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.sides {
    border-top: solid white;
    border-bottom: solid white;
}

.middle {
    border-left: solid white;
    border-right: solid white;
}

#table_end {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.win_board {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: white;
    text-align: center;
    background-color: darkolivegreen;
}

.middle_columns {
    border-left: solid white;
    border-right: solid white;
}

.up_down {
    border-top: solid white;
    border-bottom: solid white;
}

#players {
    color: white;
    font-family: 'Travelling', 'travellingregular';
    font-size: 30px;
}

#title_3 {
    color: white;
    font-family: 'Chawp', 'chawpregular';
    font-size: 40px;
}

.names {
    color: white;
    font-family: 'Travelling', 'travellingregular';
    font-size: 20px;
}