@font-face {
    font-family: 'chawpregular';
    src: url('./fonts/chawp.woff2') format('woff2'), url('./fonts/chawp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'travellingregular';
    src: url('./fonts/travelling-webfont.woff2') format('woff2'), url('./fonts/travelling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baby_foxregular';
    src: url('./fonts/babyfox-webfont.woff2') format('woff2'), url('./fonts/babyfox-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'phitradesign_handwritten_thRg';
    src: url('./fonts/phitradesign_handwritten_thin-webfont.woff2') format('woff2'), url('./fonts/phitradesign_handwritten_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: darkolivegreen;
    margin-bottom: 60px;
}

#welcome {
    height: 40px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'chawp', 'chawpregular';
    font-weight: bold;
    color: whitesmoke;
    background-color: darkolivegreen;
    border-top: dashed white;
    border-bottom: dashed white;
}

.all_squares {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: white;
    background-color: darkolivegreen;
}

#board_table {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.sides {
    border-top: solid white;
    border-bottom: solid white;
}

.middle {
    border-left: solid white;
    border-right: solid white;
}

#table_end {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.win_board {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: white;
    text-align: center;
    background-color: darkolivegreen;
}

.middle_columns {
    border-left: solid white;
    border-right: solid white;
}

.up_down {
    border-top: solid white;
    border-bottom: solid white;
}

#players {
    color: white;
    font-family: 'phitradesign Handwritten Thin', 'phitradesign_handwritten_thRg';
    font-size: 30px;
}

#title_3 {
    color: white;
    font-family: 'Chawp', 'chawpregular';
    font-size: 40px;
}

.names {
    color: white;
    font-family: 'Baby Fox', 'baby_foxregular';
    font-size: 20px;
}

#myTable {
    color: white;
    border: solid white;
    /* height: 300px; */
    width: 250px;
    /* padding-bottom: 200px; */
    position: relative;
    top: 5px;
    bottom: 560px;
    font-family: 'phitradesign Handwritten Thin', 'phitradesign_handwritten_thRg';
    font-size: 20px;
    font-weight: bold;
}

#play_again {
    position: relative;
    font-family: 'Chawp', 'chawpregular';
    font-size: 50px;
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(41, 71, 41);
}


/* #table {
    top: 80px;
    height: 80px;
    padding-bottom: 200px;
    background-color: darkgreen;
} */