@font-face {
    font-family: 'chawpregular';
    src: url('../chawp.woff2') format('woff2'), url('../chawp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'travellingregular';
    src: url('../travelling-webfont.woff2') format('woff2'), url('../travelling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#welcome {
    height: 35px;
    font-size: 20px;
    font-family: 'Lato', serif;
    color: whitesmoke;
    background-color: darkred;
}

.all_squares {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: red;
    background-color: lightgray;
}

#board_table {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.sides {
    border-top: solid black;
    border-bottom: solid black;
}

.middle {
    border-left: solid black;
    border-right: solid black;
}

#table_end {
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    width: 600px;
    height: 600px;
}

.win_board {
    height: 100%;
    width: 100%;
    border: none;
    font-family: 'Travelling', 'travellingregular';
    font-size: 7.3em;
    color: red;
    text-align: center;
    font- background-color: lightgray;
}

.middle_columns {
    border-left: solid black;
    border-right: solid black;
}

.up_down {
    border-top: solid black;
    border-bottom: solid black;
}